body {
    background-image: linear-gradient(45deg, #fbda61, #ff5acd);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    /* align-content: center; */

}

.container {
    align-self: center;
    background-color: white;
    height: 393px;
    width: 400px;
    /* position: relative;
    margin-left: 50%;
    margin-top: 50%; */
}

.pic {
    background-color: red;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-left: 103px;
    margin-top: -87px;
    overflow: hidden;
}

.container .pic img {
    height: 200px;
    width: 200px;
}

.container .para {
    text-align: center;

}

.container .para .b {
    font-size: 2em;
    font-weight: bolder;
}

.container .para .l {
    margin-top: -37px;
    opacity: 1.5;
}

.container .para .verify {
    height: 16px;
    width: 16px;
    margin-left: 293px;
    margin-top: -77px;
}

.container .para .verify img {
    height: 27px;
    width: 42px;

}

.container .follow {
    display: flex;
    width: 100%;
    height: 55px;
    margin-top: 57px;
}

.container .follow p {
    justify-content: space-evenly;
    margin-top: 3px;
    flex-basis: 132px;
    text-align: center;
    font-weight: bolder;
}

.container .follow span {
    opacity: 0.5;
    color: brown;
}

.container .button {
    display: flex;
}

.container .button button {
    border: none;
    outline: none;
    padding: 14px;
    padding-left: 28px;
    padding-right: 30px;
    border-radius: 5px;
    margin: 25px;
    margin-left: 46px;
    background-color: #ff5f95;
    font-weight: 500;
    font-size: 19px;
    color: #fff;

}
.container .button button:hover{
    cursor: pointer;
    background-color: #999;
}